
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InforMation</title>
</head>
<body>
    <div> 
        <a href="tel:18811522606">拨打挪车热线</a>
    </div>
</body>
</html>
