
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowQRCode</title>
</head>
<body>
    <div> 
        <img src="@ViewBag.CodeImg" />
    </div>
</body>
</html>
